<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DBooker: Admin</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css"/>
    <link rel='stylesheet' href='../../adminStyle.css'/>
    <script src='../../lib/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../superAdmin.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="container centeredContainer">
    <h1>Seats availability</h1>
    <select id="cities" class="form-control selectpicker" title="Choose one of the following..."></select>
    <select id="rooms" class="form-control selectpicker" title="Choose one of the following..."></select>
    <a id="addNewSeat" title="Add Seat" data-toggle="modal" data-target="#addSeatModal"><span class="glyphicon glyphicon-plus"></span></a>
    <table class="table">
        <thead>
        <tr>
            <th class="centeredContainer"><h4>Seat</h4></th>
            <th class="centeredContainer"><h4>Available</h4></th>
        </tr>
        </thead>
        <tbody id="availableTable">
        </tbody>
    </table>
</div>

<div class="modal fade" id="addSeatModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Add Seat</h2>
            </div>
            <div class="modal-body" style="text-align: center">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="seatNameInput" type="text" class="form-control" name="seatNameInput" placeholder="Seat Name"/>
                </div>
                <button id="btnSaveNewSeat" type="button" class="btn btn-primary active" style="margin: 20px">Save</button>
            </div>
        </div>

    </div>
</div>

</body>
</html>