<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <h2>Seats available status</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Seat</th>
            <th>Available</th>
        </tr>
        </thead>
        <tbody>
        <tr class="success">
            <td>301</td>
            <td>
                <div class="checkbox">
                    <input type="checkbox" value=""/>
                </div>
            </td>
        </tr>
        <tr class="danger">
            <td>302</td>
            <td>
                <div class="checkbox">
                    <input type="checkbox" value=""/>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>