<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DBooker: Admin</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css"/>
    <link rel='stylesheet' href='../../adminStyle.css'/>
    <script src='../../lib/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../superAdmin.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="container centeredContainer">
    <h1>Seats availability</h1>
    <select id="cities" class="form-control selectpicker" title="Choose one of the following..."></select>
    <select id="rooms" class="form-control selectpicker" title="Choose one of the following..."></select>
    <table class="table">
        <thead>
        <tr>
            <th class="centeredContainer"><h4>Seat</h4></th>
            <th class="centeredContainer"><h4>Available</h4></th>
        </tr>
        </thead>
        <tbody id="availableTable">
<!--        <tr class="success">
            <td>301</td>
            <td>
                <div class="checkbox">
                    <input type="checkbox" value=""/>
                </div>
            </td>
        </tr>
        <tr class="danger">
            <td>302</td>
            <td>
                <div class="checkbox">
                    <input type="checkbox" value=""/>
                </div>
            </td>
        </tr>-->
        </tbody>
    </table>
</div>

</body>
</html>