<!DOCTYPE HTML>
<html>
<head>
    <title>DBooker</title>
    <link rel='stylesheet' href='../../fullcalendar/fullcalendar.css'/>
    <link rel='stylesheet' href='../../main.css'/>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css"/>
    <script src='../../lib/jquery.min.js'></script>
    <script src='../../lib/moment.min.js'></script>
    <script src='../../fullcalendar/fullcalendar.js'></script>
    <script src="../../main.js"></script>
</head>
<body>
    <img src="../../img/logo.png" style="width: 100px; height: 100px; margin: 25px"/>
    <h1 style="display: inline">DBooker</h1>
    <div id='calendar'></div>

    <div id="chooseSeats" class="modalDialog">
        <div>
            <a href="javascript:closeSeatsChoosingPopup()" title="Close" class="close">X</a>
            <h1 id="chooseSeatsHeader">Choose your seats</h1>
            <div id="modalContent"></div>
        </div>
    </div>
</body>
</html>