<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DBooker</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel='stylesheet' href='../../fullcalendar/fullcalendar.css'/>
    <link rel='stylesheet' href='../../main.css'/>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css"/>
    <script src='../../lib/jquery.min.js'></script>
    <script src='../../lib/moment.min.js'></script>
    <script src='../../fullcalendar/fullcalendar.js'></script>
    <script src="../../main.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<!--<img src="../../img/logo.png" style="width: 100px; height: 100px; margin: 25px"/>
<h1 style="display: inline">DBooker</h1>
<form id="logout" th:action="@{/logout}" method="post">
    <input class="btn btn-secondary btn-lg" type="submit" value="Sign Out" style="right:10px"/>
</form>-->

<div id='calendar'></div>

<div id="chooseSeats" class="modalDialog">
    <div>
        <a href="javascript:closeSeatsChoosingPopup()" title="Close" class="close">X</a>
        <h1 id="chooseSeatsHeader">Choose your seats</h1>
        <div id="modalContent"></div>
    </div>
</div>
</body>
</html>